@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../images/bg-header-desktop.png'); 
    background-repeat: no-repeat; 
    background-size: contain; 
}

@media(max-width: 575px){
    body{
        background-image: url('../images/bg-header-mobile.png');
    }
}

.section-container{
    @apply max-w-6xl mx-auto text-center px-10; 
}

.section-content{
    @apply text-xl leading-9 text-grayishBlue max-w-3xl text-center mx-auto md:max-w-3xl; 
}

.ficon:hover{
    filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(94%); 
}